{% extends "base.html" %} {% block title %}{{ view.object|default:"New" }}
Budget{% endblock %} {% block content %}
<h1 class="h4">{{ view.object|default:"New" }} Budget</h1>
<form method="post" id="budget-form">
  {% csrf_token %} {{ form.non_field_errors }}

  <div class="mb-3">
    {{ form.title.label_tag }} {{ form.title }} {{ form.title.errors }}
  </div>
  <div class="mb-3">
    {{ form.currency.label_tag }} {{ form.currency }} {{ form.currency.errors }}
  </div>
  <div class="mb-3">
    {{ form.notes.label_tag }} {{ form.notes }} {{ form.notes.errors }}
  </div>

  <hr />

  <h2 class="h5 mb-2">Items</h2>

  {{ formset.management_form }} {{ formset.non_form_errors }}

  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Day</th>
          <th>Item</th>
          <th>Category</th>
          <th class="text-end">Qty.</th>
          <th class="text-end">Price</th>
          <th>Notes</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for f in formset %} {{ f.id }}
        <tr>
          <td>{{ f.day }} {{ f.day.errors }}</td>
          <td>{{ f.name }} {{ f.name.errors }}</td>
          <td>{{ f.category }} {{ f.category.errors }}</td>
          <td class="text-end">{{ f.quantity }} {{ f.quantity.errors }}</td>
          <td class="text-end">{{ f.unit_cost }} {{ f.unit_cost.errors }}</td>
          <td>{{ f.notes }} {{ f.notes.errors }}</td>
          <td>{% if f.instance.pk %} {{ f.DELETE }} Delete {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary">Save</button>
  <a class="btn btn-secondary" href="{% url 'budgets:list' %}">Cancel</a>

</form>

{% endblock %}
